.ant-carousel {
  .slick-dots {
    //position: static;
    li button {
      height: 8px;
      width: 8px;
      border-radius: 50%;
    }
    li .slick-active button {
      background-color: #f16a37 !important;
    }
  }
}
