.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #d30f02 !important;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #d30f02 !important;
}

.ant-input:focus {
  border-color: #57a8e9;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(87, 168, 233, 0.2);
  box-shadow: 0 0 0 2px rgba(87, 168, 233, 0.2);
}

.ant-select-selection {
  background-color: transparent;
}

.navbar-item-antd {
  transition: all ease 0.2s;
  color: #fff;
  &:hover {
    color: #d30f02 !important;
    transition: all ease 0.2s;
  }
}

.btn-login {
  background-color: #d82f23 !important;
  color: #fff;
  border: "none";
  &:hover {
    opacity: 0.9;
    color: #fff;
    transition: all 0.2s ease-in-out;
  }
}

.btn-register {
  border: 1px solid #d82f23;
  color: #d82f23;
}

label {
  font-size: 66px;
}
